.fallbackText {
    @include heading-2;

    padding-top: $spacing-8;
    text-align: center;
    font-weight: 400;
    color: $color-base-500;

    @include desktop-up {
        grid-column: span 3;
    }
}

.list {
    display: grid;
    gap: $spacing-6 $grid-gutter-tablet;
    grid-template-columns: 1fr;

    @include tablet-only {
        grid-template-columns: repeat(2, 1fr);
    }
}
