.category {
    @include text-label;

    color: var(--prezly-accent-color);
    font-weight: $font-weight-bold;
}

.categoryLink {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
    }
}

.categoriesList {
    display: flex;
    flex-wrap: wrap;
}
