@mixin base-card-aspect-ratio {
    /* Corresponds to 540x340px */
    aspect-ratio: 27 / 17;

    @supports not (aspect-ratio: auto) {
        height: 240px;
    }
}

@mixin highlighted-card-aspect-ratio {
    @include base-card-aspect-ratio;

    @supports not (aspect-ratio: auto) {
        height: 240px;
    }
}
