$small-card-image-size: 230px;

.container {
    position: relative;
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: $spacing-8;
    }

    /* stylelint-disable-next-line order/order */
    @include mobile-only {
        &:not(:last-of-type) {
            margin-bottom: $spacing-7;
        }
    }

    @include desktop-up {
        &:hover .image {
            transform: scale(1.05);
        }

        &:hover .titleLink {
            color: $color-base-800;
            background-size: 100% 100%;
        }

        &:hover .subtitleLink {
            color: $color-base-800;
        }
    }
}

.imageWrapper {
    display: block;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid $color-borders;

    @include desktop-up {
        .image {
            transform: scale(1);
            transition: transform 0.25s ease-in-out;
        }
    }
}

.placeholder {
    @include story-card-aspect-ratio;
}

.placeholder > .image {
    border-radius: 0;
}

.content {
    padding: $spacing-5 0;
    padding-top: ($spacing-1 + $spacing-2);
    padding-bottom: 0;

    @include mobile-only {
        padding-bottom: $spacing-3;
    }

    @include tablet-only {
        padding-right: $spacing-4;
    }
}

.categories {
    margin-bottom: $spacing-1;
}

.title {
    @include heading-2;

    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: $spacing-2;
}

.titleLink {
    text-decoration: none;
    color: inherit;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 2px), $color-base-800 5px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.7s;

    &:focus {
        color: $color-base-800;
    }
}

.subtitle {
    @include heading-3;

    margin: 0 auto $spacing-2;
    font-weight: $font-weight-regular;
}

.date {
    @include text-label;

    margin: 0;
    color: $color-base-500;
}

.noSpacingBottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.subtitleLink {
    text-decoration: none;
    color: $color-base-700;
}

.small {
    @include desktop-up {
        display: grid;
        grid-template-columns: $small-card-image-size auto;
        gap: 0 $spacing-4;
        align-items: center;
    }

    .imageWrapper {
        @include small-card-aspect-ratio;
    }

    .content {
        @include desktop-up {
            padding: 0;
        }
    }

    .title {
        @include desktop-up {
            @include heading-3;
            @include ensure-max-text-height(3, $line-height-m);

            margin-bottom: 0;
        }

        @include desktop-up {
            @include paragraph;
            @include ensure-max-text-height(3, $line-height-s);
        }
    }

    .date {
        @include desktop-up {
            margin-top: $spacing-1;
        }
    }

    .title.noCategories,
    .title.noDate {
        @include desktop-up {
            @include ensure-max-text-height(4, $line-height-s);
        }
    }

    .title.noDateAndCategories {
        @include desktop-up {
            @include ensure-max-text-height(5, $line-height-s);
        }
    }
}
