$small-card-image-size: 230px;

.container {
    position: relative;
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: $spacing-8;
    }

    /* stylelint-disable-next-line order/order */
    @include mobile-only {
        &:not(:last-of-type) {
            margin-bottom: $spacing-7;
        }
    }
}

.imageWrapper {
    display: block;
    overflow: hidden;
    text-decoration: none;

    @include desktop-up {
        .image {
            transform: scale(1);
            transition: transform 0.5s ease-in-out;
        }

        &:hover .image {
            transform: scale(1.05);
        }
    }
}

.placeholder > .image {
    border-radius: 0;
}

.content {
    padding: $spacing-5 0;
    padding-top: ($spacing-1 + $spacing-2);
    padding-bottom: 0;

    @include mobile-only {
        padding-bottom: $spacing-3;
    }

    @include tablet-only {
        padding-right: $spacing-4;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-1;
}

.title {
    @include heading-2;
    @include ensure-max-text-height(3, $line-height-l);

    font-weight: $font-weight-bold;
    margin-top: 0;
    margin-bottom: $spacing-2;
}

.titleLink {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        color: $color-base-500;
    }
}

.subtitle {
    @include heading-3;
    @include ensure-max-text-height(2, $line-height-m);

    margin: 0 auto $spacing-2;
    font-weight: $font-weight-regular;
}

.date {
    @include text-label;

    margin: 0;
    color: $color-base-500;
}

.noSpacingBottom {
    padding-bottom: 0;
    margin-bottom: 0;
}
